body, html {
	background: none;
	height: 100%;
}

#footerSection {
	background: none;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#easy-toast-default {
	margin: 20px;
}